{% extends 'base.html.twig' %}

{% block body %}
	<h1>
		{% if editMode %}
			Modification d'un jeux
		{% else %}
			Création d'un jeux
		{% endif %}
	</h1>

	{{ form_start(formGame) }}

	{{ form_row(formGame.game_name, {'attr': {'placeholder' : "ex : Rocket League"}}) }}

	{{ form_row(formGame.game_description, {'attr': {'placeholder' : "ex : Jeux de voiture"}}) }}

	{{ form_row(formGame.price, {'attr': {'placeholder' : "ex : 5€"}}) }}

	{{ form_row(formGame.category) }}
	{{ form_row(formGame.image, {'attr': {'placeholder' : "url"}}) }}
	{{ form_row(formGame.background, {'attr': {'placeholder' : "url"}}) }}
	{{ form_row(formGame.downloadUrl) }}



	<button type="submit" class="btn btn-success">
		{% if editMode %}
			Enregister les modifications
		{% else %}
			Ajouter le jeu
		{% endif %}
	</button>

	{{ form_end(formGame) }}
{% endblock %}
