{% extends 'base.html.twig' %}

{% block body %}

	<h1>Bibliothèque de StimLike</h1>

	<section class="game">
		{% for game in game %}
			<article>
				<h2>{{ game.getGameName }}</h2>
				<div class="metadata">Créé par
					{{ game.getGameCreator}}
					le
					{{ game.getDate }}
					dans la catégorie
					{{ game.getCategorie }}</div>
				<div class="content">
					{{ game.getGameDescription | raw }}
				</div>
				<a href=" {{ path('steam_game', {'id': game.id}) }} " class="btn btn-primary">Lire la suite</a>
			</article>
		{% endfor %}
	</section>

{% endblock %}
