{% extends 'base.html.twig' %}

{% block body %}

<style>
.products-trending {
    position: relative;
    font-size: 0;
    text-align: center;
    margin: 0 -10px 30px;
}
.item {
    width: calc(20% - 20px);
    display: inline-block;
    margin: 0 10px 20px;
    position: relative;
    border-radius: 8px;
    vertical-align: top;
}
.item .cover {
    position: relative;
    display: inline-block;
    transition: .1s;
    width: 100%;
}
.badge.steam {
    background-color: #000;
    background-position: -7px -5px;
}
.item .badge {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}
.badge {
    width: 31px;
    height: 31px;
    border-radius: 100%;
    background-image: url(/themes/igv1/images/platform-icons17.png);
    background-repeat: no-repeat;
    background-size: 35px;
    flex: none;
}
.item .cover img {
    width: 100%;
    border-radius: 8px;
}
.ig-sections-main-content, .mainshadow {
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
}
img {
    border: 0;
}
.item .shadow {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 80px;
    box-shadow: inset 0 -60px 30px -30px rgb(0 0 0 / 40%);
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.item .discount {
    background-color: #ff5400;
    padding: 5px 7px;
    font-size: 16px;
    color: #fff;
    bottom: -3px;
    left: -3px;
    position: absolute;
    font-weight: 700;
    border-radius: 5px;
}
.item .discount {
    font-size: 13px;
    margin-top: 3px;
    margin-right: 1px;
    display: inline-block;
    vertical-align: top;
    color: #63a520;
    padding: 2px 3px;
}
.item .price {
    color: #fff;
    bottom: 3px;
    right: 9px;
    position: relative;
    font-size: 19px;
    font-weight: 700;
    text-shadow: 0 0 4px #000;
    margin-left: auto;
}

.item .cover {
    position: relative;
    display: inline-block;
    transition: .1s;
    width: 100%;
}
a, a:hover {
    text-decoration: none;
}
a {
    color: #f50;
}

.item .name {
    color: #777;
    font-size: 13px;
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.badge.steam {
    background-color: #000;
    background-position: -7px -5px;
}
.item .badge {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}
.badge {
    width: 31px;
    height: 31px;
    border-radius: 100%;
    background-image: url(/themes/igv1/images/platform-icons17.png);
    background-repeat: no-repeat;
    background-size: 35px;
    flex: none;
}
.item .cover img {
    width: 100%;
    border-radius: 8px;
}
.ig-sections-main-content, .mainshadow {
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
}
img {
    border: 0;
}
.item .cover img.dlc {
    top: 0;
    left: 0;
    position: absolute;
    width: 30%;
    border-radius: 8px 0 0 0;
}
</style>
	<h1>Magasin de StimLike</h1>


<div class="products-trending">
<div class="item" id="ig-preorders-item-1">
<a class="cover" href="https://www.instant-gaming.com/fr/8823-acheter-jeu-steam-going-medieval-early-access/" title="Going Medieval (Early Access) Steam 12.70€">
<div class="badge steam"></div>
<img class="picture mainshadow" data-src="https://s1.gaming-cdn.com/images/products/8823/271x377/going-medieval-early-access-cover.jpg" src="https://s1.gaming-cdn.com/images/products/8823/271x377/going-medieval-early-access-cover.jpg" alt="Going Medieval" title="Going Medieval (Early Access)" onload="lazyLoadImage(this)">
<div class="shadow">
<div class="discount">-45%</div>
<div class="price">12.70€</div>
</div>
</a>
<div class="name">Going Medieval (Early Access)</div>
</div>
<div class="item" id="ig-preorders-item-2">
<a class="cover" href="https://www.instant-gaming.com/fr/6076-acheter-jeu-epic-games-chivalry-2/" title="Chivalry 2 Epic Games 24.19€">
<div class="badge epic-games"></div>
<img class="picture mainshadow" data-src="https://s2.gaming-cdn.com/images/products/6076/271x377/chivalry-2-cover.jpg" src="https://s2.gaming-cdn.com/images/products/6076/271x377/chivalry-2-cover.jpg" alt="Chivalry 2" title="Chivalry 2" onload="lazyLoadImage(this)">
<div class="shadow">
<div class="discount">-33%</div>
<div class="price">24.19€</div>
</div>
</a>
<div class="name">Chivalry 2</div>
</div>
<div class="item" id="ig-preorders-item-3">
<a class="cover" href="https://www.instant-gaming.com/fr/5981-acheter-jeu-steam-dungeons-and-dragons-dark-alliance/" title="Dungeons and Dragons: Dark Alliance Steam 25.89€">
<div class="badge steam"></div>
<img class="picture mainshadow" data-src="https://s3.gaming-cdn.com/images/products/5981/271x377/dungeons-and-dragons-dark-alliance-cover.jpg" src="https://s3.gaming-cdn.com/images/products/5981/271x377/dungeons-and-dragons-dark-alliance-cover.jpg" alt="Dark Alliance" title="Dungeons and Dragons: Dark Alliance" onload="lazyLoadImage(this)">
<div class="shadow">
<div class="discount">-35%</div>
<div class="price">25.89€</div>
</div>
</a>
<div class="name">Dungeons and Dragons: Dark Alliance</div>
</div>
<div class="item" id="ig-preorders-item-4">
<a class="cover" href="https://www.instant-gaming.com/fr/8872-acheter-jeu-origin-les-sims-4-decoration-dinterieur-pack-de-jeu/" title="Les Sims 4 Décoration d'intérieur - Pack de jeu Origin 16.99€">
<div class="badge origin"></div>
<img class="picture mainshadow" data-src="https://s2.gaming-cdn.com/images/products/8872/271x377/les-sims-4-decoration-dinterieur-pack-de-jeu-cover.jpg" src="https://s2.gaming-cdn.com/images/products/8872/271x377/les-sims-4-decoration-dinterieur-pack-de-jeu-cover.jpg" alt="Les Sims 4 Décoration d'intérieur - Pack de jeu" title="Les Sims 4 Décoration d'intérieur - Pack de jeu" onload="lazyLoadImage(this)">
<img src="https://s1.gaming-cdn.com/themes/igv1/images/dlc.png" class="dlc" alt="DLC">
<div class="shadow">
<div class="discount">-15%</div>
<div class="price">16.99€</div>
</div>
</a>
<div class="name">Les Sims 4 Décoration d'intérieur - Pack de jeu</div>
</div>
<div class="item" id="ig-preorders-item-5">
<a class="cover" href="https://www.instant-gaming.com/fr/6948-acheter-jeu-steam-guilty-gear-strive/" title="Guilty Gear -Strive- Steam 25.29€">
<div class="badge steam"></div>
<img class="picture mainshadow" data-src="https://s1.gaming-cdn.com/images/products/6948/271x377/guilty-gear-strive-cover.jpg" src="https://s1.gaming-cdn.com/images/products/6948/271x377/guilty-gear-strive-cover.jpg" alt="Guilty Gear Strive" title="Guilty Gear -Strive-" onload="lazyLoadImage(this)">
<div class="shadow">
<div class="discount">-58%</div>
<div class="price">25.29€</div>
</div>
</a>
<div class="name">Guilty Gear -Strive-</div>
</div>
<div class="item" id="ig-preorders-item-6">
<a class="cover" href="https://www.instant-gaming.com/fr/6791-acheter-jeu-steam-days-gone/" title="Days Gone Steam 28.89€">
<div class="badge steam"></div>
<img class="picture mainshadow" data-src="https://s3.gaming-cdn.com/images/products/6791/271x377/days-gone-cover.jpg" src="https://s3.gaming-cdn.com/images/products/6791/271x377/days-gone-cover.jpg" alt="Days Gone" title="Days Gone" onload="lazyLoadImage(this)">
<div class="shadow">
<div class="discount">-42%</div>
<div class="price">28.89€</div>
</div>
</a>
<div class="name">Days Gone</div>
</div>
<div class="item" id="ig-preorders-item-7">
<a class="cover" href="https://www.instant-gaming.com/fr/9037-acheter-jeu-steam-red-solstice-2-survivors/" title="Red Solstice 2: Survivors Steam 19.89€">
<div class="badge steam"></div>
<img class="picture mainshadow" data-src="https://s2.gaming-cdn.com/images/products/9037/271x377/red-solstice-2-survivors-cover.jpg" src="https://s2.gaming-cdn.com/images/products/9037/271x377/red-solstice-2-survivors-cover.jpg" alt="Red Solstice 2: Survivors" title="Red Solstice 2: Survivors" onload="lazyLoadImage(this)">
 <div class="shadow">
<div class="discount">-34%</div>
<div class="price">19.89€</div>
</div>
</a>
<div class="name">Red Solstice 2: Survivors</div>
</div>
<div class="item" id="ig-preorders-item-8">
<a class="cover" href="https://www.instant-gaming.com/fr/2245-acheter-jeu-steam-biomutant/" title="Biomutant Steam 34.19€">
<div class="badge steam"></div>
<img class="picture mainshadow" data-src="https://s2.gaming-cdn.com/images/products/2245/271x377/biomutant-cover.jpg" src="https://s2.gaming-cdn.com/images/products/2245/271x377/biomutant-cover.jpg" alt="Biomutant" title="Biomutant" onload="lazyLoadImage(this)">
<div class="shadow">
<div class="discount">-43%</div>
<div class="price">34.19€</div>
</div>
</a>
<div class="name">Biomutant</div>
</div>
<div class="item" id="ig-preorders-item-9">
<a class="cover" href="https://www.instant-gaming.com/fr/8968-acheter-jeu-origin-les-sims-4-vie-a-la-campagne/" title="Les Sims 4 Vie à la campagne Origin 25.99€">
<div class="badge origin"></div>
<img class="picture mainshadow" data-src="https://s2.gaming-cdn.com/images/products/8968/271x377/les-sims-4-vie-a-la-campagne-cover.jpg" src="https://s2.gaming-cdn.com/images/products/8968/271x377/les-sims-4-vie-a-la-campagne-cover.jpg" alt="Les Sims 4 Vie à la campagne" title="Les Sims 4 Vie à la campagne" onload="lazyLoadImage(this)">
<img src="https://s1.gaming-cdn.com/themes/igv1/images/dlc.png" class="dlc" alt="DLC">
<div class="shadow">
<div class="discount">-35%</div>
<div class="price">25.99€</div>
</div>
</a>
<div class="name">Les Sims 4 Vie à la campagne</div>
</div>
<div class="item" id="ig-preorders-item-10">
<a class="cover" href="https://www.instant-gaming.com/fr/6329-acheter-jeu-steam-resident-evil-village/" title="Resident Evil Village Steam 37.49€">
<div class="badge steam"></div>
<img class="picture mainshadow" data-src="https://s3.gaming-cdn.com/images/products/6329/271x377/resident-evil-village-cover.jpg" src="https://s3.gaming-cdn.com/images/products/6329/271x377/resident-evil-village-cover.jpg" alt="RE 8" title="Resident Evil Village" onload="lazyLoadImage(this)">
<div class="shadow">
<div class="discount">-38%</div>
<div class="price">37.49€</div>
</div>
</a>
 <div class="name">Resident Evil Village</div>
</div>
</div>

	<section class="game">
		{% for game in game %}
			<article>
				<h2>{{ game.getGameName }}</h2>
				<div class="metadata">Créé par
					{{ game.getGameCreator}}
					le
					{{ game.getDate }}
					dans la catégorie Politique</div>
				<div class="content">
					{{ game.getGameDescription | raw }}
				</div>
				<a href=" {{ path('steam_game', {'id': game.id}) }} " class="btn btn-primary">Lire la suite</a>
			</article>
		{% endfor %}
	</section>

{% endblock %}
