<div class="px-5 pt-4">
  <blockquote class="blockquote">
    <p class="mb-0 pb-3 h4"><strong>PARAMÈTRES GÉNÉRAUX</strong></p>
    <footer class="blockquote-footer">Gérez les informations de compte que vous avez partagées avec StimLike, dont votre nom, vos informations de contact et plus</footer>
    <p class="mb-0 pt-5 pb-3 h4"><strong>INFOS DE COMPTE</strong></p>
  </blockquote>

  <form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control form-control-lg"  id="disabledInput" placeholder="{{ user.getUsername() }}" disabled="">
      </div>
      <div class="btn-group" role="group" aria-label="Third group">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Edit</button>
      </div>
      <div class="col">
        <input type="text" class="form-control form-control-lg"  id="disabledInput" placeholder="{{ user.getEmail() }}" disabled="">
      </div>
      <div class="btn-group" role="group" aria-label="Third group">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#EmailModal">Edit</button>
      </div>
    </div>
  </form>

  <blockquote class="blockquote pb-3">
    <p class="mb-0 pb-3 h4 pt-5"><strong>INFORMATIONS PERSONNELLES</strong></p>
    <footer class="blockquote-footer">Gérer votre nom et vos coordonnées. Ces informations personnelles sont privées et ne seront pas visibles par les autres utilisateurs.</footer>
  </blockquote>
  <div class="row">
    <div class="col">
      <div class="form-group disablemarginbottom">
        <input type="text" id="name" class="form-control form-control-lg" required>
        <label class="form-control-placeholder" for="name">Prénom</label>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <input type="text" id="name" class="form-control form-control-lg " required>
        <label class="form-control-placeholder" for="name">Nom</label>
      </div>
    </div>
  </div>
<div class="select-div col-md-6 col-xs-12 preferred-lang-field disablepadding pb-4"><select name="preferredLanguage" class="select filled"><option value="" disabled="">Langue de communication préférée *</option><option value="en">English</option><option value="ko">한국어[Coréen]</option><option value="ja">日本語[Japonais]</option><option value="zh">简体中文[Chinois simplifié]</option><option value="de">Deutsch [Allemand]</option><option value="fr">Français [Français]</option><option value="es-mx">Español (México) [Espagnol]</option><option value="ru">Русский [Russe]</option><option value="es-ES">Español (España) [Espagnol]</option><option value="it">Italiano</option><option value="pl">Polski</option><option value="pt-BR">Português (Brésil)</option><option value="ar">العربية</option><option value="tr">Türkçe </option><option value="th">ไทย</option><option value="zh-Hant">繁體中文</option></select><div for="preferredLanguage" class="control-label">Langue de communication préférée *</div></div>
  <div class="d-grid gap-2">
    <button class="btn btn btn-primary btn-height mr-2 cancelbtn nohover" type="button">ANNULER LES CHANGEMENTS</button>
    <button class="btn btn btn-primary btn-height ml-2 acceptbtn nohover" type="button">SAUVEGARDER LES CHANGEMENTS</button>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="errorrr">
      </div>
      
      {{ form_start(form, {'attr': {'id': 'form_pseudo_edit'}}) }}
    
      {{ form_row(form.username, { 'label': 'Nom d\'utilisateur', 'attr': {'placeholder': 'Nom d\'utilisateur ...'}}) }}

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" id="form" data-toggle="modal" data-target="#dataModal" href="">Save Change</button>

          {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="EmailModal" tabindex="-1" role="dialog" aria-labelledby="EmailModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EmailModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="errorrr">
      </div>
      
      {{ form_start(formEmail, {'attr': {'id': 'form_email_edit'}}) }}
    
      {{ form_row(formEmail.email, { 'label': 'Email', 'attr': {'placeholder': 'Email...'}}) }}

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" id="formEmail" data-toggle="modal" data-target="#dataModal" href="">Save Change</button>

          {{ form_end(formEmail) }}
      </div>
    </div>
  </div>
</div>



   
